@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400&display=swap');


:root {
  --background: #000000;
  
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes lineExpand {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.animate-lineExpand {
  animation: lineExpand 1s ease-out forwards;
  animation-delay: 1.2s; /* Adjust delay as needed */
}
